body {
    background-color: #1f1f1f;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#Education, #Projects {
    padding-top: 4%;
}

#Profile {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    
}

.profile-pic {
    width: 15%;
    height: 30%;
}