*{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: white;
}

body {
}

.Profile {
    background-color: #1f1f1f;
    overflow: auto;
    /* border:1px solid black;    */
    /* background-color: cyan; */

}
.Education {
    background-color: #1f1f1f;
    overflow: auto;
    /* border:1px solid black;    */
    /* background-color: teal; */
}
.Projects {
    background-color: #1f1f1f;
    overflow: auto;
    /* border:1px solid black;    */
    /* background-color: indigo; */
}

.profile-pic {
    width: 20%;
    height: auto;
    margin: 2%;
}

.Content {
    height: auto;
    width: auto;
    text-align: justify;
    margin-right: 25%;
    margin-left: 25%;
    padding: 1%;
    /* background-color: red; */
}