*{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f1f1f;
}

.Skills {    
    background-color: #1f1f1f;
    overflow: auto;
}

.Profile {
    background-color: #1f1f1f;
    overflow: auto;
    padding-bottom: 5%;
}
.Education {
    background-color: #1f1f1f;
    overflow: auto;
}
.Projects {
    background-color: #1f1f1f;
    overflow: auto;
}

.profile-pic {
    height: auto;
}

.Content {
    height: auto;
    width: auto;
    text-align: justify;
}

.social-icons {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}